{% for language in languages %}
  {% if language.code == code %}
		<a href="{{ language.href }}" class="dropdown-toggle" data-language-code="{{ language.code }}" data-toggle="dropdown"><img src="{{ language.image }}" alt="{{ language.name }}" title="{{ language.name }}" /></a>
  {% endif %}
{% endfor %}
<ul class="dropdown-menu dropdown-menu-right">
  {% for language in languages %}
    <li><a href="{{ language.href }}" class="dropdown-item" data-language-code="{{ language.code }}"><img src="{{ language.image }}" alt="{{ language.name }}" title="{{ language.name }}"/> {{ language.name }}</a></li>
  {% endfor %}
</ul>
<input type="hidden" name="redirect" value="{{ redirect }}" id="input-ps-admin-language-redirect"/>
